.ingredient-input-section {
    display: flex;
    flex-direction: column;
    padding: 32px 40px;
    border-top: 1px solid #e8e8e8;
    max-width: 70%;
    margin: 0 auto;
}


.ingredient-btn-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.4rem;
    width: 100%;
    margin-top: 1rem;
}

.ingredient-btn-row {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.4rem;
    width: 100%;
}

.ingredient-btn {
    background-color: var(--primary);
    color: #fff;
    border: none;
    border-radius: 10px;
    font-size: 1.5rem;
    padding: 1.2rem 4rem;
    width: 600px;
}

.ingredient-btn:hover {
    background-color: var(--primary-dark);
    color: #fff;
}


.ingredient-pic{
    width: 80px;
    height: 80px;
}

