.header{
    display: flex;
    padding : var(--sds-size-space-800);
    align-items: center;
    align-content: center;
    gap: 0 var(--sds-size-space-600);
    align-self: stretch;
    flex-wrap: wrap;
}

.main-content{
    padding-top : 120px;
}

.page-layout{
    background-color: var(--bg);
    min-height: 100vh;
}

:root {
  --primary: #4CAF50;
  --primary-dark: #2E7D32;
  --primary-light: #A5D6A7;

  --bg: #F5F7F6;
  --card: #FFFFFF;
  --border: #E8E8E8;

  --text-main: #222;
  --text-sub: #888;
}